.materials-wrapper {
  background-color: rgb(238, 238, 238);
  min-height: 100vh;
}

.materials-content {
  max-width: 1440px;
  margin: 0 auto;
}

.category-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.test-card {
  flex-basis: 27em;
  height: 500px;
  background-color: #3d3d3d;
  margin-bottom: 16px;
}