.materials-wrapper {
  background-color: rgb(238, 238, 238);
  min-height: 100vh;
}

.materials-content {
  max-width: 1440px;
  margin: 0 auto;
}

.materials-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.materials-cards__card {
  border: 2px solid lavender;
  width: 400px;
  margin: 8px;
}

.category-cards__card {
  margin-bottom: 16px;
}