.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar__link {
  margin-left: 16px;
}

.profile-link {
  display: flex;
  align-items: center;
}

.profile-link img{
  margin-left: 8px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .wrapper {
    font-size: 10px;
  }

  
}