.material-editor__wrapper {

}

.content-wrapper {
  margin: 0 auto;
  max-width: 1400px;
}

.material-editor {
  background-color: rgb(238, 238, 238);
}

.material-title {
  margin-bottom: 8px;
  text-transform: capitalize;
}

.material-text {
  margin-top: 8px;
}

.material-image {
  width: 100%;
  height: 78%;
}

.material-image:hover {
  box-sizing: border-box;
  cursor: pointer;
  border: 5px dashed rgb(218, 218, 218);
}

.material-title-input {
  border: none;
  font-weight: 700;
  font-size: 18px;
  padding: 0;
  font-family: "Montserrat", 'Courier New', Courier, monospace;
}

.material-body-input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  height: 100vh;
  font-family: "Montserrat", 'Courier New', Courier, monospace;
  font-size: 16px;
}

.material-image-input {

}

.material-editor-file-upload {
  display: none;
}

.material-body-input:focus {
  outline: 1px solid lightgray;
  font-family: "Montserrat", 'Courier New', Courier, monospace;
  font-size: 16px;
}