.card {
  display: flex;
  /* justify-content: center; for mobile*/
  /* align-self: center; */
  background-color: white;
  box-shadow: 3px 4px 4px rgba(192, 192, 192, 0.25);
  margin: 0 auto;
}

.card h1 {
  font-size: 3vw;
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .margin-small {
    margin: 0;
  }
  .card {
    font-size: 9px;
  }
  
}

