.btn {
  border-radius: 4px;
  border: none;
  font-weight: 600;
  width: 100%;
}

.btn-primary {
  background-color: #8268B9;
  color: white;
}

.btn-accent {
  background-color: #fff;
  border: 1px solid #333333;
  color: #333333;
}

.btn-upper {
  text-transform: uppercase;
}

.m-default {
  margin: 4px 0 4px 0;
}