.card {
  display: flex;
  align-self: center;
  background-color: white;
  box-shadow: 3px 4px 4px rgba(192, 192, 192, 0.25);
  margin: 0 auto;
  max-width: 600px;
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
/* 
.card__submit-button {
  border-radius: 4px;
  border: none;
  height: 48px;
  text-transform: uppercase;
} */